.header {
    width: 30%;
}

.article {
    max-width: 30em;
}

.wide {
    max-width: 50em;
}

.footer {
    width: 30%; /* Should match .header */ 
    padding-left: 40px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

tr,
th,
td,
pre,
code,
kbd,
samp {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

h5,
h6 {
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0.8em;
}

p {
    line-height: 1.25em;
}

figcaption {
    font-style: italic;
}

.header h1 {
    padding-left: 40px;
}


/* testing */
.row12 {
    background-color: blue;
}
.row6 {
    background-color: coral;
}
.row4 {
    background-color: blue;
}
.row3 {
    background-color: coral;
}

._12-1 {
    background-color: rgba(255, 255, 255, .08);
}
._12-2 {
    background-color: rgba(0, 0, 0, .16);
}
._12-3 {
    background-color: rgba(255, 255, 255, .24);
}
._12-4 {
    background-color: rgba(0, 0, 0, .32);
}
._12-5 {
    background-color: rgba(255, 255, 255, .40);
}
._12-6 {
    background-color: rgba(0, 0, 0, .48);
}
._12-7 {
    background-color: rgba(255, 255, 255, .56);
}
._12-8 {
    background-color: rgba(0, 0, 0, .64);
}
._12-9 {
    background-color: rgba(255, 255, 255, .72);
}
._12-10 {
    background-color: rgba(0, 0, 0, .80);
}
._12-11 {
    background-color: rgba(255, 255, 255, .88);
}
._12-12 {
    background-color: rgba(0, 0, 0, .96);
}
._6-1 {
    background-color: rgba(255, 255, 255, .16);
}
._6-2 {
    background-color: rgba(0, 0, 0, .32);
}
._6-3 {
    background-color: rgba(255, 255, 255, .48);
}
._6-4 {
    background-color: rgba(0, 0, 0, .64);
}
._6-5 {
    background-color: rgba(255, 255, 255, .80);
}
._6-6 {
    background-color: rgba(0, 0, 0, .96);
}
._4-1 {
    background-color: rgba(255, 255, 255, .25);
}
._4-2 {
    background-color: rgba(0, 0, 0, .50);
}
._4-3 {
    background-color: rgba(255, 255, 255, .75);
}
._4-4 {
    background-color: rgba(0, 0, 0, 1);
}
._3-1 {
    background-color: rgba(255, 255, 255, .33);
}
._3-2 {
    background-color: rgba(0, 0, 0, .66);
}
._3-3 {
    background-color: rgba(255, 255, 255, .99);
}

.rowmix {
    background-color: chartreuse;
}
._3-12 {
    background-color: rgba(0, 0, 0, .25);
}
._5-12 {
    background-color: rgba(255, 255, 255, .10);
}
._3-12 {
    background-color: rgba(0, 0, 0, .10);
}
._1-12 {
    background-color: rgba(255, 255, 255, .25);
}
