<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% endif %}
</head>
<body>

  <div class="row row12">
    <p class="col _12-1">12-1</p>
    <p class="col _12-2">12-2</p>
    <p class="col _12-3">12-3</p>
    <p class="col _12-4">12-4</p>
    <p class="col _12-5">12-5</p>
    <p class="col _12-6">12-6</p>
    <p class="col _12-7">12-7</p>
    <p class="col _12-8">12-8</p>
    <p class="col _12-9">12-9</p>
    <p class="col _12-10">12-10</p>
    <p class="col _12-11">12-11</p>
    <p class="col _12-12">12-12</p>
  </div>
  <div class="row row6">
    <p class="col _6-1">6-1</p>
    <p class="col _6-2">6-2</p>
    <p class="col _6-3">6-3</p>
    <p class="col _6-4">6-4</p>
    <p class="col _6-5">6-5</p>
    <p class="col _6-6">6-6</p>
  </div>
  <div class="row row4">
    <p class="col _4-1">4-1</p>
    <p class="col _4-2">4-2</p>
    <p class="col _4-3">4-3</p>
    <p class="col _4-4">4-4</p>
  </div>
  <div class="row row3">
    <p class="col _3-1">3-1</p>
    <p class="col _3-2">3-2</p>
    <p class="col _3-3">3-3</p>
  </div>

  <div class="wrapper row">

    <header class="header col">
      {% include_cached masthead.html %}
    </header>
    
    <main class="col">
      {{content}}
    </main>

  </div>

  <footer class="row">
    {% include_cached footer.html %}
  </footer>

</body>
</html>
