<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% endif %}
</head>
<body>

  <div class="wrapper row">

    <header class="header col">
      {% include_cached masthead.html %}
    </header>
    
    <main class="main col">
      {{content}}
    </main>

  </div>

</body>
</html>
